name: SonnarQB_Frontend

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and analyze
    runs-on: windows-latest
    environment: .env

    

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configurar Node.js y restaurar caché
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json


      - name: Instalar dependencias del frontend
        run: |
          cd frontend
          npm install

      - name: Ejecutar pruebas con cobertura
        working-directory: frontend
        run: npm test

          
      - name: Run SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v5
        with:
          projectBaseDir: frontend  # Carpeta donde está sonar-project.properties
          args: >
            -Dsonar.projectKey=SAPitos_front
            -Dsonar.sources=.
        env:
          SONAR_TOKEN: ${{ secrets.SAPitos_front }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      # Descomenta esto si quieres forzar que falle si la Quality Gate no pasa
      # - name: Check Quality Gate
      #   uses: SonarSource/sonarqube-quality-gate-action@v1
      #   timeout-minutes: 5
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
